<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>ClientHome</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadMails</servlet-name>
    <servlet-class>LoadMails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SaveMail</servlet-name>
    <servlet-class>SaveMail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMails</servlet-name>
    <servlet-class>DeleteMails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMailsPermanently</servlet-name>
    <servlet-class>DeleteMailsPermanently</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RestoreMails</servlet-name>
    <servlet-class>RestoreMails</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadMails</servlet-name>
    <url-pattern>/LoadMails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaveMail</servlet-name>
    <url-pattern>/SaveMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMails</servlet-name>
    <url-pattern>/DeleteMails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMailsPermanently</servlet-name>
    <url-pattern>/DeleteMailsPermanently</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestoreMails</servlet-name>
    <url-pattern>/RestoreMails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ClientHome</display-name>
    <servlet-name>ClientHome</servlet-name>
    <servlet-class>ClientHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientHome</servlet-name>
    <url-pattern>/ClientHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Database</display-name>
    <servlet-name>Database</servlet-name>
    <servlet-class>Database</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Database</servlet-name>
    <url-pattern>/Database</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMail</display-name>
    <servlet-name>DeleteMail</servlet-name>
    <servlet-class>DeleteMails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMail</servlet-name>
    <url-pattern>/DeleteMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMailsPermanentlys</display-name>
    <servlet-name>DeleteMailsPermanentlys</servlet-name>
    <servlet-class>DeleteMailsPermanentlys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMailsPermanentlys</servlet-name>
    <url-pattern>/DeleteMailsPermanentlys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadMail</display-name>
    <servlet-name>LoadMail</servlet-name>
    <servlet-class>LoadMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadMail</servlet-name>
    <url-pattern>/LoadMail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMails</display-name>
    <servlet-name>SendMails</servlet-name>
    <servlet-class>SendMails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMails</servlet-name>
    <url-pattern>/SendMails</url-pattern>
  </servlet-mapping>
</web-app>